<?xml version="1.0"?>
<config>
    <modules>
        <VS7_CheckoutSubscribe>
            <version>0.1.0</version>
        </VS7_CheckoutSubscribe>
    </modules>
    <global>
        <models>
            <vs7_checkoutsubscribe>
                <class>VS7_CheckoutSubscribe_Model</class>
            </vs7_checkoutsubscribe>
        </models>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <vs7_checkoutsubscribe_insert_options>
                        <class>VS7_CheckoutSubscribe_Model_Observer</class>
                        <method>insertOptions</method>
                    </vs7_checkoutsubscribe_insert_options>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <vs7_checkoutsubscribe_set_subscribe>
                        <class>VS7_CheckoutSubscribe_Model_Observer</class>
                        <method>setSubscribe</method>
                    </vs7_checkoutsubscribe_set_subscribe>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <vs7_checkoutsubscribe_save_subscribe>
                        <class>VS7_CheckoutSubscribe_Model_Observer</class>
                        <method>saveSubscribe</method>
                    </vs7_checkoutsubscribe_save_subscribe>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <layout>
            <updates>
                <vs7_checkoutsubscribe>
                    <file>vs7_checkoutsubscribe.xml</file>
                </vs7_checkoutsubscribe>
            </updates>
        </layout>
    </frontend>
</config>